/* Estilos para el layout general de las páginas de administración */
.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%; /* Ensure it takes full width */
  position: relative; /* Establish stacking context */
  z-index: 1; /* Base z-index */
  left: 20%;
}

.admin-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  z-index: 2; /* Higher z-index than admin-layout */
}

.main-content {
  flex-basis: 0; /* Initial size of the flex item */
  flex-grow: 1; /* Allow main content to take up available space */
  padding: 20px; /* Espaciado interno para el contenido */
  background-color: #f4f7f6; /* Un color de fondo suave para el área de contenido */
  overflow-y: auto; /* Habilitar scroll si el contenido es muy largo */
  position: relative; /* Establish stacking context */
  z-index: 3; /* Higher z-index */
}
